{% extends "base.html" %}
{% block content %}



<div class="row">
<div class="col-xs-12 col-md-12">
<div class="panel panel-info">
    <div class="panel-heading">重置密码</div>
    <div class="panel-body">

    <form class="form-horizontal" action="" method="POST">{% csrf_token %}

        <div class="form-group">
        <label for="inputPassword3" class="col-sm-1 control-label">旧密码</label>
        <div class="col-sm-4">
          <input type="password" name="old_password" class="form-control" id="old_password" placeholder="密码">
        </div>
      </div>

      <div class="form-group">
        <label for="inputPassword3" class="col-sm-1 control-label">密码</label>
        <div class="col-sm-4">
          <input type="password" name="new_password1" class="form-control" id="new_password1" placeholder="密码">
        </div>
      </div>

    <div class="form-group">
        <label for="inputPassword3" class="col-sm-1 control-label">核对密码</label>
        <div class="col-sm-4">
          <input type="password" name="new_password2" class="form-control" id="new_password2" placeholder="核对密码">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
          <button type="submit" class="btn btn-primary">提交</button>
        </div>
      </div>
    </form>

      </div>
</div>
</div>
</div>

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{error}}</div>
        {% endfor %}
    {% endif %}

    {% if form.old_password.errors %}
        {% for error in form.old_password.errors %}
            <div class="alert alert-danger" role="alert">密码：{{error}}</div>
        {% endfor %}
    {% endif %}

    {% if form.new_password1.errors %}
        {% for error in form.new_password1.errors %}
            <div class="alert alert-danger" role="alert">密码：{{error}}</div>
        {% endfor %}
    {% endif %}

    {% if form.new_password2.errors %}
        {% for error in form.new_password2.errors %}
            <div class="alert alert-danger" role="alert">密码：{{error}}</div>
        {% endfor %}
    {% endif %}






{% endblock %}